<%- include('partials/header', { pageTitle: 'Contact'}) %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam voluptates inventore fugiat dolor est
        consequatur, obcaecati similique, asperiores quisquam sed laboriosam quo suscipit vitae quaerat error, nisi
        repellat quidem animi. Excepturi fugit inventore ex veritatis repellendus tempora quos maxime nostrum commodi
        eligendi molestiae, tenetur eaque? Obcaecati suscipit necessitatibus dolor illum? Molestias exercitationem rerum
        libero beatae iste ut magni quam impedit quaerat. Magnam deserunt numquam voluptatibus illum aperiam quibusdam
        dicta magni molestias, aut quod, sequi porro! Veniam laborum officia, quam repellendus ipsam nobis maxime
        expedita eius reiciendis molestiae aliquam ad sint inventore quibusdam maiores architecto, deserunt esse labore
        incidunt consequuntur!</p>
<%- include('partials/footer', { pageTitle: 'Contact'}) %>
